
/* The game*/
.theGame { /*other component relative to the game section*/
  position: relative;
}

  /*The board*/
.board table,
tr {  /*center the board*/
  margin: 20px auto;
  border-collapse: collapse;
}
td {
  display: inline-block;
  margin: auto;
  padding: 3px;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  border: 1px solid #868d8a;
}
td img {
  display: block;
  margin: 0;
  width: 150px;
  height: 150px;
  border-radius: 5px;
  /*border: 1px solid #868d8a;*/
}

  /*Game over message*/
#gameEndMessage {
  position: absolute;
  top: 120px;
  left: 35%;
  height: 250px;
  width: 420px;
  color: #6d75ae;
  justify-content: center;
  text-align: center;
  align-items: center;
  background: #f5e17e;
  z-index: 1;
}
.hidden {
  display: none !important;
}

/*loading spinner*/
.hideLoadSinner {
  display: none !important;
}
.board-opacity { 
  opacity:0.3;
}
.loading {
  display: flex;
  justify-content: center;
}
.loading--full-height {
  position: absolute;
  top: 190px;
  left: 42%;
  height: 250px;
  width: 420px;
  
}
.loading::after {
  content: "";
  width: 80px;
  height: 80px;
  border: 10px solid #dddddd;
  border-top-color:#6d75ae;
  border-radius: 50%;
  transform: rotate(0.15deg);
  animation: loading 1s ease infinite;
}

@keyframes loading {
  /* Safari support */
  from {
    transform: rotate(0turn);
  }
  
  to {
    transform: rotate(1turn);
  }
}

  /*Sec and click counters*/
#performanceCounter {
  margin: 0;
  padding: 0;
  text-align: center;
}
#performanceCounter ul {
  list-style-type: none;
  margin: 0;
}
#performanceCounter li {
  display: inline-block;
  font-size: 40px;
  height: 75px;
  width: 300px;
  text-align: center;
  margin: auto;
  color: #6d75ae;
  font-family: "Caesar Dressing", cursive;
}
#stopWatch::after {
  content: " seconds";
  font-size:35px;
  color: #6d75ae;
  font-family: "Caesar Dressing", cursive;
}
#clickCount::after {
  content: " clicks";
  font-size:35px;
  color: #6d75ae;
  font-family: "Caesar Dressing", cursive;
}

  /*New game button*/
.newGame {
  display: flex;
  justify-content: center;
  align-items: center;
}

#newGamebtn {
  border: 5px solid #8cc28d;
  border-radius: 50px;
  font-family: "Caesar Dressing", cursive;
  font-size: 50px;
  color: #6d75ae;
  background-color: #8cc28d;
}
